.App {
  text-align: center;
  height: 89%;
}
.App-title {
  font-size: 1em;
}
.App-header {
  background-color: #222;
  height: 6%;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
